body {
  background-color: dodgerblue;
  color: white;
  font-family: 'Futura';
  box-sizing: border-box;
  font-size: 62.5%
}

h1, h2, h3 {
  font-size: 2.3rem;
}

p {
  font-size: 1.6rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurf-list {
  width: 97%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.smurf-card {
  background-color: white;
  border: 10px solid darkslategray;
  border-radius: 25px;
  color: dodgerblue;
  margin: 10px;
  width: 250px;
  padding: 5px;
}

form > * {
  margin: 0px 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: 'Futura';
}